= render 'shared/leh_header'
.mypage_wrapper
  .mypage_main
    .mypage_contents_head
      %ul.mypage_contents_number_list
        %li.mypage_contents_number
          お気に入りした場所 0
        %li.mypage_contents_number
          口コミ数 0
        %li.mypage_contents_number
          行った場所 0
    .mypage_contents_main
      .mypage_contents_main_left
        .mypage_user_setting_wrapper
          %ul.mypage_user_side_list
            %li.mypage_user_side
              = link_to '会員情報の確認・変更', edit_user_registration_path, class: 'mypage_user_side_text'
            %li.mypage_user_side
              = link_to 'お気に入りした場所', '#', class: 'mypage_user_side_text'
            %li.mypage_user_side
              = link_to '今までの口コミ', '#', class: 'mypage_user_side_text'
            %li.mypage_user_side
              = link_to '行った場所', '#', class: 'mypage_user_side_text'
= render 'shared/leh_footer'
