.header
  = render 'shared/leh_header'
.shopping_main
%h1 ショッピング
- @experiences.each do |experience|
  = link_to "#{experience.name}の詳細", "/experiences/#{experience.id}"
  = experience.outline
  .menu{id: 'link_main', style: 'margin-bottom:0; text-align: left'}
    = link_to 'マイページトップ', "/users/#{current_user.id}"
    &nbsp;>&nbsp;
    %strong 会員情報の確認・変更