.header
  = render 'shared/leh_header'
.content_header
  .menu{id: 'link_main', style: 'margin-bottom:0; text-align: left'}
    = link_to 'トップページ', root_path, data:{turbolinks: "false"}
    &nbsp;>&nbsp;
    %strong ショッピング
.content_main
  .content_main_left
    .content_main_left_header
      = image_tag 'shopping_icon.png', alt: 'ショッピング', height: '35px', width: '35px', class: 'type_icon'
      %h1.content_title ショッピングスポット
    .content_main_left_info
      .content_main_left_info_up
        %ul.ul_number
          %li.number
            = "1 - #{@experiences.length}件"
          %li.all_number
            = "（全#{@experiences.length}件中）"
        %ul.ul_list
          %li{class: 'list list_active'}
            = icon('fas', 'list')
          %li.list
            = icon('fas', 'th')
      .content_main_left_info_down
        %ul.order
          %li
            並び順：
          %li.order_list
            安い順
          %li.order_list
            口コミランク順
          %li{class: 'order_list text_active order_none'}
            おすすめ順
    %ul.content_main_left_main
      %li.content_main_left_main_list
      %li.content_main_left_main_list
  .content_main_right
%h1 ショッピング
- @experiences.each do |experience|
  = link_to "#{experience.name}の詳細", "/experiences/#{experience.id}"
  = experience.outline
.footer
  = render 'shared/leh_footer'