.header
  = render 'shared/leh_header'
.topmain
  = image_tag "toppage.jpg", alt: 'トップ画像', height: '616px', width: '1440px', class: 'top-image'
  .search-left
    .search-type
      .search-type-header
        = image_tag 'glass_icon.png', alt: 'glass', height: '20px', width: '20px', class: 'glass-image'
        .search-type-header-string
          %b 目的から探す
      .search-type-main
        .type-main1
          .type1
            = link_to '', {controller: 'experiences', action: 'edit', name: 'hotel'}, class: 'purpose-name'
            = image_tag 'hotel_icon.png', alt: 'ホテル', height: '40px', width: '40px', class: 'type-icon'
            %p.type-name
              ホテル
              %br/
              コンドミニアム
          .type2
            = link_to '', {controller: 'experiences', action: 'edit', name: 'dinner'}, class: 'purpose-name'
            = image_tag 'lunch_icon.png', alt: '食事', height: '40px', width: '40px', class: 'type-icon'
            %p.type-name
              食事
          .type3
            = link_to '', {controller: 'experiences', action: 'edit', name: 'rentacar'}, class: 'purpose-name'
            = image_tag 'car_icon.png', alt: 'レンタカー', height: '40px', width: '40px', class: 'type-icon'
            %p.type-name
              レンタカー
        .type-main2
          .type1
            = link_to '', {controller: 'experiences', action: 'edit', name: 'leisure'}, class: 'purpose-name'
            = image_tag 'leisure_icon.png', alt: '遊び・体験', height: '40px', width: '40px', class: 'type-icon'
            %p.type-name
              遊び・体験
          .type2
            = link_to '', {controller: 'experiences', action: 'edit', name: 'landmark'}, class: 'purpose-name'
            = image_tag 'landmark_icon.png', alt: '観光地', height: '40px', width: '40px', class: 'type-icon'
            %p.type-name
              観光地
          .type3
            = link_to '', {controller: 'experiences', action: 'edit', name: 'shopping'}, class: 'purpose-name'
            = image_tag 'shopping_icon.png', alt: 'ショッピング', height: '40px', width: '40px', class: 'type-icon'
            %p.type-name
              ショッピング
    .search-word
      .search-word-header
        = image_tag 'glass_icon.png', alt: 'glass', height: '20px', width: '20px', class: 'glass-image'
        .search-word-header-string
          %b キーワードから探す
      .search-word-main
        = search_form_for @search, url: experiences_search_path, class: 'form' do |form|
          .keyword
            %b.main-word キーワード
            = form.search_field :name_cont, placeholder: 'ホテル名・地名やイベント名など', class: 'text-field'
          .select
            %b.main-select 評価
            = form.collection_select :score_gteq, Score.all, :id, :name, {}, {class:'select-box', id:'score'}
          = form.submit '検索', class: 'submit'
  .search-right
    .search-map
      .search-map-header
        = image_tag 'glass_icon.png', alt: 'glass', height: '20px', width: '20px', class: 'glass-image'
        .search-map-header-string
          %b 地図から探す
      .search-map-main
        = image_tag 'hawaiian_islands.png', alt: 'hawaiian_islands', height: '359px', width: '540px', class: 'islands-image', usemap: "#ImageMap", id: 'map-image'
        %map{name: "ImageMap"}
          %area{id: 'map_niihau', href: "/niihau", alt: "ニイハウ島", coords: "18,45,15,46,13,47,11,48,10,50,9,52,9,56,8,57,6,55,4,54,3,53,3,50,4,48,5,45,7,42,8,40,11,38,13,37,14,35,16,33,21,33,21,34,20,36,18,39,18,45,20,48", shape: "poly"}/
          %area{id: 'map_oahu', href: "/oahu", alt: "オアフ島", coords: "223,99,221,100,219,101,218,102,217,102,216,103,214,103,213,101,211,98,209,95,207,93,206,90,204,88,203,86,201,84,200,83,200,80,199,78,199,77,198,77,195,75,197,74,199,73,201,73,207,73,210,70,211,69,213,67,214,66,215,64,216,63,218,61,220,59,221,58,222,57,224,57,225,59,226,60,228,63,228,66,228,67,230,67,231,69,231,71,232,72,233,73,235,73,236,75,237,78,235,78,235,82,239,86,241,88,243,89,244,88,243,85,244,85,245,85,246,85,247,87,248,89,249,90,249,91,250,93,251,94,251,96,252,97,254,97,255,99,254,101,254,103,254,104,253,105,251,105,250,105,249,104,247,104,245,105,244,106,242,107,241,108,240,106,239,106,239,104,238,103,237,103,236,101,236,100,235,99,230,98,230,99,229,99,228,99,228,99,227,98,229,97,228,94,227,94,227,93,222,93,221,94,220,94,219,96,220,96,222,97,223,98,223,98", shape: "poly"}/
          %area{id: 'map_kahoolawe', href: "/kahoolawe", alt: "カホオラウェ島", coords: "367,183,367,178,366,177,365,176,363,176,362,177,360,177,358,178,356,179,355,180,354,181,353,182,353,183,353,184,353,184,354,185,355,185,357,186,360,185,362,185,364,184,366,184,367,184,367,184", shape: "poly"}/
          %area{id: 'map_lanai', href: "/lanai", alt: "ラナイ島", coords: "312,142,315,141,319,140,322,140,326,141,329,142,331,144,333,145,335,147,336,148,337,150,338,151,338,152,336,154,335,156,333,158,331,159,329,160,327,161,325,161,323,161,322,161,321,159,320,158,319,157,320,152,319,150,318,148,316,147,314,146,313,145,312,144,312,144", shape: "poly"}/
          %area{id: 'map_molokai', href: "/molokai", alt: "モロカイ島", coords: "320,110,325,113,328,114,336,113,337,112,345,112,346,114,345,115,343,117,340,121,335,124,333,125,326,126,321,124,318,122,313,119,308,119,305,121,300,121,296,121,294,122,290,122,289,121,289,118,294,112,294,108,295,107,296,107,298,108,299,109,300,109,306,109,308,111,309,111,312,111,315,111,316,110,318,110,320,109,320,109", shape: "poly"}/
          %area{id: 'map_maui', href: "/maui", alt: "マウイ島", coords: "364,155,360,152,357,151,355,149,352,147,350,144,349,143,348,141,348,140,348,139,349,137,350,134,350,133,351,131,351,130,352,129,353,128,354,128,358,128,359,128,361,131,364,134,366,137,369,141,371,142,373,142,374,142,377,140,379,138,382,136,384,134,388,134,391,137,394,139,397,141,399,142,401,143,404,146,407,148,408,148,410,150,412,151,413,151,416,152,416,153,417,155,416,157,416,159,415,160,414,162,413,164,411,166,409,167,406,168,404,169,402,170,397,169,395,171,392,173,390,174,389,175,387,175,385,176,383,176,381,177,379,177,377,176,375,175,374,173,373,172,373,165,372,163,372,162,371,161,371,158,371,155,370,153,369,153,368,152,367,153,365,155,365,155", shape: "poly"}/
          %area{id: 'map_kauai', href: "/kauai", alt: "カウアイ島", coords: "73,9,76,6,85,5,88,8,90,11,91,12,91,17,90,20,89,22,88,23,88,26,89,26,89,32,88,33,88,34,87,34,87,36,86,37,86,38,85,39,84,41,82,41,81,42,79,43,77,43,76,42,74,42,72,42,70,42,66,42,65,42,64,41,63,41,59,36,57,35,55,34,54,34,51,33,50,32,49,31,48,30,46,29,46,26,47,24,48,22,49,21,50,20,50,19,50,17,51,15,53,14,54,13,56,12,57,11,60,9,62,8,63,8,65,7,66,6,68,6,70,6,72,7,73,9,73,9", shape: "poly"}/
          %area{id: 'map_hawaii', href: "/hawaii", alt: "ハワイ島", coords: "458,358,455,357,451,354,448,352,444,349,442,348,439,346,437,345,435,342,434,341,433,339,432,335,434,334,434,328,435,327,435,322,436,318,436,314,434,312,434,310,434,308,432,306,432,302,432,300,432,298,428,294,428,290,427,290,427,286,426,284,424,282,423,280,421,279,420,277,419,275,417,273,416,271,417,266,418,264,420,261,421,259,423,258,424,256,425,256,427,256,429,253,430,251,432,249,434,246,435,244,436,243,437,241,438,240,438,238,436,235,435,232,434,229,432,227,431,224,430,222,431,219,431,216,431,213,432,212,433,210,436,210,438,210,440,211,443,212,445,214,448,215,450,218,453,220,455,222,457,223,461,224,464,224,467,224,470,225,474,227,477,228,481,229,484,230,486,231,489,232,492,234,495,236,497,238,500,240,503,243,506,245,508,247,510,250,512,251,512,263,513,265,515,265,518,265,521,265,522,268,522,270,523,275,524,277,526,279,528,281,531,282,534,284,536,285,538,287,538,290,537,293,537,294,535,296,533,298,531,300,529,302,527,305,525,307,523,309,521,309,517,311,514,313,512,314,509,316,506,317,505,318,500,318,498,318,496,317,492,317,491,319,489,321,488,324,485,325,483,328,479,330,478,331,475,332,474,333,471,335,470,339,468,342,467,344,466,347,465,350,464,352,463,354,462,355,460,356,459,357,459,357", shape: "poly"}/
    .search-name
      .name-header
        = image_tag 'glass_icon.png', alt: 'glass', height: '20px', width: '20px', class: 'glass-image'
        .name-header-string
          %b 島名から探す
      .name-main
        .name-main1
          .name1
            = link_to 'ニイハウ島', {controller: 'experiences', action: 'edit', name: 'niihau'}, class: 'island-name'
          .name2
            = link_to 'カウアイ島', {controller: 'experiences', action: 'edit', name: 'kauai'}, class: 'island-name'
          .name3
            = link_to 'オアフ島', {controller: 'experiences', action: 'edit', name: 'oahu'}, class: 'island-name'
          .name4
            = link_to 'モロカイ島', {controller: 'experiences', action: 'edit', name: 'molokai'}, class: 'island-name'
        .name-main2
          .name1
            = link_to 'ラナイ島', {controller: 'experiences', action: 'edit', name: 'lanai'}, class: 'island-name'
          .name2
            = link_to 'カホオラウェ島', {controller: 'experiences', action: 'edit', name: 'kahoolawe'}, class: 'island-name'
          .name3
            = link_to 'マウイ島', {controller: 'experiences', action: 'edit', name: 'maui'}, class: 'island-name'
          .name4
            = link_to 'ハワイ島', {controller: 'experiences', action: 'edit', name: 'hawaii'}, class: 'island-name'

.footer
  .footer-main
    %ul.footer-link
      %li.privacy
        %a{href: '#', class: 'privacy-link'}
          プライバシーポリシー
      %li.inquiry
        %a{href: 'mailto:t26.yasunori.yamasaki@gmail.com', class: 'email'}
          お問い合わせ
    .copyright
      Copyright©︎ yasunori_yamasaki All Rights Reserved.