= render 'shared/leh_header'
.mypage_wrapper
  = image_tag 'mypage_image.jpg', alt: 'マイページ', height: '100%', width: '100%', class: 'mypage_image'
  .mypage_main
    .mypage_contents_head
    .mypage_contents_main
      .mypage_contents_main_left
        .mypage_user_setting_wrapper
          %ul.mypage_user_setting_list
            %li.mypage_user_setting
              会員情報の確認・変更
            %li.mypage_user_setting
              各種設定
      .mypage_contents_main_right
        .mypage_user_info_head
          .mypage_user_image
            - unless @user.image.attached?
              = image_tag 'no_image.jpg', alt: 'no_image', height: '150px', width: '150px', class: 'user_image'
            - else
              = image_tag @user.image, alt: 'no_image', height: '150px', width: '150px', class: 'user_image'
          .mypage_user_name_area
            .mypage_user_name1
              = @user.name
            .mypage_user_name2
              さんのマイページ
        .mypage_user_info_main
          .mypage_user_introduction
= render 'shared/leh_footer'