.passwordAll
  .passwordHeader
    = render 'shared/leh_header'
  .passwordMain{align: 'center'}
    / トップページからの遷移リンクを表示
    .menu{id: 'passwordMain', style: 'margin-bottom:0; text-align: left'}
      = link_to 'トップ', root_path
      &nbsp;>&nbsp;
      = link_to '会員情報の確認・変更', '#'
      &nbsp;>&nbsp;
      %strong パスワードの再発行
    / トップページからの遷移リンクを表示
    .menu{id: 'contentsArea'}
      / メールアドレス入力フォーム
      #reissue.emailFormWrapper
        #reissueHeader{class: 'emailFormHeader'}
          %p.title パスワードを再発行する
        #reissueMain.emailFormMain
          ご本人であることを確認するために、現在登録されているメールアドレスを入力し、「送信する」ボタンを押してください。
          ご登録いただいているメールアドレスにパスワード再設定手続きのメールをお送りします。
        %br/
        = form_with model: @user, url: user_password_path, local: true do |f|
          %div{style: 'width:652px;',class: 'bottom_p_10px right_p_20px left_p_20px'}
            .passwordFieldWrapper
              .passwordField
                = f.label :email
                %span.userEmailText (半角英数)
              .passwordEmailField
                = f.email_field :email, autofocus: true, autocomplete: "email", class: 'userEmailField'
          .actions
            = f.submit "送信する", class: 'submit'
        %div{style: 'padding-left: 20px; padding-bottom: 10px;'}
          ※ 自動応答フォームでうまくいかない場合は、
          = link_to 'こちらからお問い合わせください。', '#'
      / メールアドレス入力フォーム
      / 新規会員登録ページへの遷移リンク
      #reissue.signUpLinkWrapper
        #reissueHeader{class: 'signUpLinkHeader'}
          %p.title 登録時のメールアドレスをすでに使用されていない場合は
        #reissueMain.signUpLinkMain
          ご登録内容のお問い合わせやパスワードの再発行のご連絡を登録時のメールアドレスへ送りますので、登録アドレスが使用できない場合はお知らせできません。
          新しいメールアドレスで再度会員登録をして、ご利用ください。
          %br/
          ※お気に入りや、口コミしたお店の一覧表示は移行できません。
          .toSignUpLink
            = link_to 'もう一度会員登録する', new_user_registration_path, class: 'submit', type: 'submit'
      / 新規会員登録ページへの遷移リンク
  .passwordFooter
    = render 'shared/leh_footer'