.show_left_main_tab
  %ul.experience_tabs
    %li.tab
      %span
        概要
      = link_to '', experience_path(@experience.id), class: 'exp_link'
    %li.tab_2line
      %span
        口コミ
      %br/
      -# 表示しているアクティビティに投稿されている口コミの件数を表示させる。
      %span{class: 'number', data:{name: 'review_count'}}
        = "(#{@experience.reviews.length}件)"
      = link_to '', experience_reviews_path(@experience.id), class: 'exp_link'
    %li{class: 'tab_2line active_tab'}
      %span
        写真
      %br/
      -# 表示しているアクティビティに投稿されている写真の件数を表示させる。
      %span.number
        = "(#{@images_count}枚)"
    %li.tab
      %span
        地図
    %li.tab
      %span
        周辺情報
.experience_photo_content
  .experience_photo_title_area
    .experience_photo_title_icon
    %h1.experience_photo_title
      = "#{exp.name}の写真一覧"
  .experience_photo_info
    -# 写真を何件表示しているかを表示する。
    .experience_photo_number
      %span.experience_photo_number_part
        = "1 - #{images.length}件目"
      %span.experience_photo_number_all
        = "（全#{images.length.to_s(:delemited)}件中）"
  %ul.experience_photo_list
    -# 写真の件数分処理を繰り返す。
    - images.each_with_index do |image, index|
      -# 写真が右端の列なら'margin-right'のプロパティを'0px'にする。
      - if (index + 1) % 3 == 0
        = image_tag image, height: '171px', width: '228px', class: 'experience_photo_area_right'
      - else
        = image_tag image, height: '171px', width: '228px', class: 'experience_photo_area'
