.show_left_main_tab
  %ul.experience_tabs
    %li{class: 'tab active_tab'}
      %span
        概要
    %li.tab_2line
      %span
        口コミ
      %br/
      -# 表示しているアクティビティに投稿されている口コミの件数を表示させる。
      %span{class: 'number', data:{name: 'review_count'}}
        = "(#{@experience.reviews.length}件)"
      = link_to '', experience_reviews_path(@experience.id), class: 'exp_link'
    %li.tab_2line
      %span
        写真
      %br/
      -# 表示しているアクティビティに投稿されている写真の件数を表示させる。
      %span.number
        = "(#{@images_count}枚)"
      = link_to '', "/experiences/#{@experience.id}/photos", class: 'exp_link'
    %li.tab
      %span
        地図
    %li.tab
      %span
        周辺情報
.show_left_main_content
  %h1.experience_name
    = exp.name
  .picture_score
    -# アクティビティの画像を表示させる。
    .content_picture
      -# 画像表示部分
      = exp.image
    .content_score
      -# アクティビティの5段階評価の各点数ごとの割合を表示させる。
      %ul.content_score_list
        %li.list_title
          評価分布
        - 5.times do |i|
          -# 口コミ評価があるなら、
          - if @scores.count != 0
            %li.list_score
              %span.evaluation
                = @evalutions[4 - i]
              %span{id: "score_#{5 - i}", class: 'percent'}
                = "#{(@scores[5 - i].to_f / exp.reviews.length * 100).floor}%"
              .percent_graph
                %div{id: "graph_score#{5 - i}", class: 'percent_graph_front'}
                .percent_graph_back
            -# 口コミ評価が0件なら、固定で'0%'を表示させる。
          - else
            %li.list_score
              %span.evaluation
                = @evalutions[4 - i]
              %span{id: "score_#{5 - i}", class: 'percent'}
                0%
              .percent_graph
                %div{id: "graph_score#{5 - i}", class: 'percent_graph_front'}
                .percent_graph_back
  .business_info
    .business_info_title
      %span
        営業時間
    .business_info_main
      %span
        = "平日: #{exp.business_hours_start} 〜 #{exp.business_hours_finish}"
  .business_info2
    .business_info_title
      %span
        所在地
    .business_info_main
      %span.business_info_main_postal_code
        = exp.address
      %span.business_info_main_address
      %span
