-# アクティビティの概要表示ページ
- if controller_name == 'experiences'
  .show_left_main_tab
    %ul.experience_tabs
      %li{class: 'tab active_tab'}
        %span
          概要
      %li.tab_2line
        %span
          口コミ
        %br/
        -# 表示しているアクティビティに投稿されている口コミの件数を表示させる。
        %span{class: 'number', data:{name: 'review_count'}}
          = "(#{@experience.reviews.length}件)"
        = link_to '', reviews_experience_path(@experience.id), class: 'exp_link'
      %li.tab_2line
        %span
          写真
        %br/
        -# 表示しているアクティビティに投稿されている写真の件数を表示させる。
        %span.number
          = "(#{@images_count}枚)"
        = link_to '', "/experiences/#{@experience.id}/photos", class: 'exp_link'
      -# %li.tab
      -#   %span
      -#     地図
      -# %li.tab
      -#   %span
      -#     周辺情報
  .show_left_main_content
    %h1.experience_name
      = exp.name
    .picture_score
      -# アクティビティの画像を表示させる。
      -# = image_tag "https://maps.googleapis.com/maps/api/streetview?size=400x400&location=21.253517,-157.80779&heading=18.04706904979218&pitch=-21.937938517512563&fov=120&zoom=0.5849625007211563&key=#{ENV['GOOGLE_STREET_VIEW_KEY']}", class: 'content_picture'
      = image_tag "https://maps.googleapis.com/maps/api/streetview?size=800x600&location=#{exp.latitude},#{exp.longitude}&heading=#{exp.heading}&pitch=#{exp.pitch}&fov=#{exp.fov}&zoom=#{exp.zoom}&key=#{ENV['GOOGLE_STREET_VIEW_KEY']}", class: 'content_picture'
      .content_score
        -# アクティビティの5段階評価の各点数ごとの割合を表示させる。
        %ul.content_score_list
          %li.list_title
            評価分布
          - 5.times do |i|
            -# 口コミ評価があるなら、
            - if @scores.count != 0
              %li.list_score
                %span.evaluation
                  = @evalutions[4 - i]
                %span{id: "score_#{5 - i}", class: 'percent'}
                  = "#{(@scores[5 - i].to_f / exp.reviews.length * 100).floor}%"
                .percent_graph
                  %div{id: "graph_score#{5 - i}", class: 'percent_graph_front'}
                  .percent_graph_back
              -# 口コミ評価が0件なら、固定で'0%'を表示させる。
            - else
              %li.list_score
                %span.evaluation
                  = @evalutions[4 - i]
                %span{id: "score_#{5 - i}", class: 'percent'}
                  0%
                .percent_graph
                  %div{id: "graph_score#{5 - i}", class: 'percent_graph_front'}
                  .percent_graph_back
    .business_info
      .business_info_title
        %span
          営業時間
      .business_info_main
        %span
          = "#{exp.business_hours_start} 〜 #{exp.business_hours_finish}"
    .business_info2
      .business_info_title
        %span
          所在地
      .business_info_main
        %span.business_info_main_postal_code
          = exp.address
        %span.business_info_main_address
        %span
-# アクティビティの写真一覧表示ページ
- if controller_name == 'reviews' && action_name == 'edit'
  .show_left_main_tab
    %ul.experience_tabs
      %li.tab
        %span
          概要
        = link_to '', experience_path(@experience.id), class: 'exp_link'
      %li.tab_2line
        %span
          口コミ
        %br/
        -# 表示しているアクティビティに投稿されている口コミの件数を表示させる。
        %span{class: 'number', data:{name: 'review_count'}}
          = "(#{@experience.reviews.length}件)"
        = link_to '', reviews_experience_path(@experience.id), class: 'exp_link'
      %li{class: 'tab_2line active_tab'}
        %span
          写真
        %br/
        -# 表示しているアクティビティに投稿されている写真の件数を表示させる。
        %span.number
          = "(#{@images_count}枚)"
      -# %li.tab
      -#   %span
      -#     地図
      -# %li.tab
      -#   %span
      -#     周辺情報
  - if images.length > 0
    .experience_photo_content
      .experience_photo_title_area
        .experience_photo_title_icon
        %h1.experience_photo_title
          = "#{exp.name}の写真一覧"
      .experience_photo_info
        -# 写真を何件表示しているかを表示する。
        .experience_photo_number
          %span.experience_photo_number_part
            = "1 - #{images.length}件目"
          %span.experience_photo_number_all
            = "（全#{images.length.to_s(:delemited)}件中）"
      %ul.experience_photo_list
        -# 写真の件数分処理を繰り返す。
        - images.each_with_index do |image, index|
          -# 写真が右端の列なら'margin-right'のプロパティを'0px'にする。
          - if (index + 1) % 3 == 0
            = image_tag image, height: '171px', width: '228px', class: 'experience_photo_area_right'
          - else
            = image_tag image, height: '171px', width: '228px', class: 'experience_photo_area'
  - else
    .not_experience_photo_content
      .experience_photo_title_area
        .experience_photo_title_icon
        %h1.experience_photo_title
          = "#{exp.name}の画像はまだありません"
-# アクティビティの口コミ一覧表示ページ
- if controller_name == 'reviews' && action_name == 'exp_index'
  .show_left_main_tab
    %ul.experience_tabs
      %li.tab
        %span
          概要
        = link_to '', experience_path(@experience.id), class: 'exp_link'
      %li{class: 'tab_2line active_tab'}
        %span
          口コミ
        %br/
        -# 表示しているアクティビティに投稿されている口コミの件数を表示させる。
        %span{class: 'number', data:{name: 'review_count'}}
          = "(#{@experience.reviews.length.to_s(:delimited)}件)"
      %li.tab_2line
        %span
          写真
        %br/
        -# 表示しているアクティビティに投稿されている写真の件数を表示させる。
        %span.number
          = "(#{@images_count}枚)"
        = link_to '', "/experiences/#{@experience.id}/photos", class: 'exp_link'
      -# %li.tab
      -#   %span
      -#     地図
      -# %li.tab
      -#   %span
      -#     周辺情報
  -# 口コミが投稿されている場合の表示
  - if reviews.exists?
    .review_index_content
      .review_index_title_area
        .review_index_title_icon
        %h1.review_index_title
          = "#{exp.name}の口コミ一覧"
      .review_index_info
        -# 口コミ全数に対して、何件表示しているかを表示する。
        .review_number
          %span.review_number_part
            = "1 - #{reviews.length}件"
          %span.review_number_all
            = "（全#{reviews.length.to_s(:delimited)}件中）"
        -# 口コミの並び替えを行える。
        %ul.review_sort
          %li
            並び替え
          %li{id: 'review_sort_2', class: 'sort_link active_sort'}
            投稿日順
          %li{id: 'review_sort_1', class: 'sort_link link_hover'}
            評価順
      %ul.review_list
        -# 口コミの数だけ口コミ表示処理を繰り返す。
        - reviews.each_with_index do |review, index|
          %li.review_index_main_wrapper
            .review_index_main_area
              %h2.review_index_title
                = review.title
              .review_index_score
                .star_rating
                  %div{id: "star_rating#{index + 1}", class: 'star_rating_front'}
                    ★★★★★
                  .star_rating_back
                    ★★★★★
                %span{class: 'rating_point exp_score review_sort_material1'}
                  = review.score.to_f
              .triangle
                ▲
              .review_index_comment_area
                %span.review_index_comment
                  = review.comment
              .review_index_user_area
                = user_image_attached?(review.user)
                .review_index_user_name
                  = "#{review.user_name}さん"
              %span{class: 'review_sort_material2', style: 'display: none;'}
                = review.created_at
    -# 口コミが投稿されていない場合の表示
  - else
    .not_review_index_content
      .review_index_title_area
        .review_index_title_icon
        %h1.review_index_title
          = "#{exp.name}の口コミはまだありません"
