.header
  = render 'shared/leh_header'
.show_content_area
.content_header
.menu{id: 'link_main', style: 'margin-bottom:0; text-align: left'}
  = link_to 'トップページ', root_path, id: 'change_link', style: 'color: blue'
  %span
    &nbsp;>&nbsp;
  %strong
    -# = @category.name
%h1
  = "#{@experience.name}の詳細"
  -# お気に入りされていればお気に入り登録の解除ができて、まだならお気に入り登録ができる。
  - if @experience.already_favorited?(current_user)
    = link_to icon("fas", "star"), experience_favorites_path(@experience.id), method: :delete
  - else
    = link_to icon("far", "star"), experience_favorites_path(@experience.id), method: :post
.footer
  = render 'shared/leh_footer'