.header
  = render 'shared/leh_header'
.menu{id: 'link_main', style: 'margin-bottom:0; text-align: left'}
  - breadcrumb :activity, @experience
  = breadcrumbs separator: " &rsaquo; ", id: 'breadcrumbs'
  %span{id: 'category_id', style: 'display:none'}
    = @experience.genre.category.id
.show_content_wrapper
  .show_content_left
    .show_left_info
      .show_info_left
        %ul
          -# カテゴリーのアイコン画像とアクティビティの名称を表示させる。
          %li.show_info_name
            %div{id: 'category_icon'}
            %h1.experience_name
              = @experience.name
          -# アクティビティの評価点とそれに対応した5段階評価を表示させる。
          %li.show_info_score
            .star_rating
              %div{id: "star_rating0", class: 'star_rating_front'}
                ★★★★★
              .star_rating_back
                ★★★★★
            %span{class: 'rating_point exp_score'}
              = @experience.score
            %span.review_count
              （
            = link_to "口コミ#{@experience.reviews.count.to_s(:delimited)}件", reviews_experience_path(@experience.id), class: 'link_hover review_count review_link', data:{name: 'review_count'}
            %span.review_count
              ）
          %li.black
          -# アクティビティのエリア・ジャンルを表示させる。
          %li.area_wrapper
            %span.area_name
              エリア
            = link_to "#{@experience.area.island.name}", "/#{@experience.area.island.search}", class: 'island search_btn link_to link_hover', method: :post
            = link_to "#{@experience.area_name}","/#{@experience.area_search}", class: 'area search_btn link_to link_hover', method: :post
          %li.genre_wrapper
            %span.genre_name
              ジャンル
            = link_to "#{@experience.genre.category.name}", "/#{@experience.genre.category.search}", class: 'category search_btn link_to link_hover', method: :post
            = link_to "#{@experience.genre_name}", "/#{@experience.genre_search}", class: 'genre search_btn link_to link_hover', method: :post
      .show_info_right
        -# 未ログインユーザーなら'口コミ投稿'等のボタンが表示されない。
        - if user_signed_in?
          %ul
            %li.post_reviews
              = icon('far', 'comment-dots', class: 'fa-flip-horizontal')
              口コミ投稿
              = link_to '', new_review_path(@experience.id), class: 'btn'
            -# %li.share_act
            -#   = icon('fas', 'share')
            -#   シェアする
            -#   = link_to '','#', class: 'btn'
          %ul.show_info_right_down
            %li{id: 'favorite_btn', class: 'favorite'}
              -# お気に入りされていればお気に入り登録の解除ができて、まだならお気に入り登録ができる。
              = render 'favorites/favorite_btn'
            %li{id: 'have_been_place_btn', class: 'have_been_place'}
              = render 'histories/history_btn'
    .show_left_main
      -# コントローラー名とアクション名によって、表示するテンプレートを変更する。
      = render partial: 'shared/activity_contents', locals: { exp: @experience, reviews: @reviews, images: @images }
      -# コントローラー名とアクション名によって、表示するテンプレートを変更する。
  .show_content_right
.footer
  = render 'shared/leh_footer'
