.signInUpAll
  .signInUpLayout
    .signInUpWrapper
      = render 'shared/leh_header'
      .signInUpMainWrapper
        .signInUpMain
          .signInUpMainContent
            %span.registerText ログイン
            .signInUpForm
              / 入力フォーム
              = form_with model: @user, url: user_session_path, local: true, class: 'signInUpUser' do |f|
                = render "devise/shared/error_messages", resource: @user
                .signInUpFormInput
                  = f.email_field :email, placeholder: 'メールアドレス', autocomplete: "email", autocorrect: 'off', autocapitalize: 'off', class: 'signInUpInput'
                  %span{style: 'display:none', class: 'signInUpErrorMessage'}この項目は必須です
                .signInUpFormInput
                  = f.password_field :password, placeholder: 'パスワード（8～20文字・半角英数字・記号を2種以上）', maxlength: '20', autocomplete: "current-password", class: 'signInUpInput'
                  %span{style: 'display:none', class: 'signInUpErrorMessage'}この項目は必須です
                - if devise_mapping.rememberable?
                  .rememberMePassword
                    %label.rememberMe
                      %span{'aria-checked' => "true", class: 'checkboxWarpper'}
                        = f.check_box :remember_me
                      %span ログイン状態を保持
                    = link_to "パスワードをお忘れの方", new_password_path(resource_name), target: '_blank', rel: 'noopner', class: 'passwordReset'
                = f.submit "ログイン", class: 'button-cv signInUpButton'
              / 入力フォーム
            .socialLogin
              %span{class: 'socialLoginTitle'}こちらもご利用いただけます
              / SNSアカウントでログインできる
              .socialLoginContainer
                %div
                  %a{href: '#', class: 'socialLoginLink'}
                #googleLogin
                  = link_to '', user_google_oauth2_omniauth_authorize_path, method: :post, class: 'socialLoginLink'
                #facebookLogin
                  = link_to '', user_facebook_omniauth_authorize_path, method: :post, class: 'socialLoginLink'
                %div
                  %a{href: '#', class: 'socialLoginLink'}
              / SNSアカウントでログインできる
              = render "devise/shared/links"
              / テストユーザーとしてログインするためのフォーム 
              .testUserSignInForm
                %span.testUserLoginText ※アカウント登録せず、ユーザー機能を試したい方は
                = form_with model: @user, url: user_session_path, local: true, class: 'testUserLoginForm' do |f|
                  = f.hidden_field :email, :value => 'test@test.com'
                  = f.hidden_field :password, :value => 'testuser1'
                  = f.submit "こちら", class: 'tesuUserLoginButton'
              / テストユーザーとしてログインするためのフォーム
      / フッター
      .signInUpFooter
        %ul.signInUpFooterList
          %li
            %a{href: 'mailto:t26.yasunori.yamasaki@gmail.com', class: 'signInUpFooterLink'}
              ヘルプ・お問い合わせ
        .signInUpFooterCopyright
          Copyright© yasunori_yamasaki All Rights Reserved.
      / フッター
