= javascript_pack_tag 'hello_vue'
= stylesheet_pack_tag 'halle_vue'
.signin_up_all
  .signin_up_layout
    .signin_up_wrapper
      = render 'shared/leh_header'
      .signin_up_main_wrapper
        .signin_up_main
          .signin_up_main_content
            %span.register_text ログイン
            .signin_up_form
              / 入力フォーム
              = form_with model: @user, url: user_session_path, local: true, class: 'signin_up_user' do |f|
                .signin_up_form_input
                  = f.email_field :email, placeholder: 'メールアドレス', autocomplete: "email", autocorrect: 'off', autocapitalize: 'off', class: 'signin_up_input'
                .signin_up_form_input
                  = f.password_field :password, placeholder: 'パスワード（8～20文字・半角英数字・記号を2種以上）', maxlength: '20', autocomplete: "current-password", class: 'signin_up_input'
                - if devise_mapping.rememberable?
                  .remember_me_password
                    %label.remember_me
                      %span{'aria-checked' => "true", class: 'checkbox_wrapper'}
                        = f.check_box :remember_me
                      %span ログイン状態を保持
                    -# = link_to "パスワードをお忘れの方", new_password_path(resource_name), target: '_blank', rel: 'noopner', class: 'password_reset link_hover_not_underline'
                = f.submit "ログイン", class: 'button_cv signin_up_button btn_hover'
              / 入力フォーム
            .social_login
              %span{class: 'social_login_title'}こちらもご利用いただけます
              / SNSアカウントでログインできる
              .social_login_container
                %div{id: 'google_login', class: 'google_login'}
                  = link_to icon('fab', 'google'), user_google_oauth2_omniauth_authorize_path, method: :post, class: 'social_login_link'
                #facebook_login
                  = link_to image_tag("f_logo_RGB-Blue_58.png", height: '30px', width: '30px'), user_facebook_omniauth_authorize_path, method: :post, class: 'social_login_link'
              / SNSアカウントでログインできる
              = render "devise/shared/links"
              / ゲストユーザーとしてログインするためのフォーム
              .guestuser_sign_in_form
                %span.guestuser_login_text ※アカウント登録せず、ユーザー機能を試したい方は
                = link_to 'こちら', users_guest_sign_in_path, method: :post, class: 'guestuser_login_button link_hover_not_underline'
              / ゲストユーザーとしてログインするためのフォーム
      / フッター
      .signin_up_footer
        %ul.signin_up_footer_list
          %li
            = link_to 'ヘルプ・お問い合わせ', 'mailto:t26.yasunori.yamasaki@gmail.com', class: 'signin_up_footer_link'
        .signin_up_footer_copyright
          Copyright© yasunori_yamasaki All Rights Reserved.
      / フッター
