.header
  = render 'shared/leh_header'
.menu{id: 'link_main', style: 'margin-bottom:0; text-align: left'}
  = link_to 'トップページ', root_path, id: 'change_link', style: 'color: blue'
  %span
    &nbsp;>&nbsp;
  = link_to "#{@experience.genre.category.name}", '/shopping', id: 'change_link', style: 'color: blue'
  %span
    &nbsp;>&nbsp;
  %strong
    = link_to "#{@experience.name}", experience_path(@experience.id), id: 'change_link', style: 'color: blue'
  %span
    &nbsp;>&nbsp;
  %strong
    = "#{@experience.name}の口コミ一覧"
  %span{id: 'category_id', style: 'display:none'}
    = @experience.genre.category.id
.show_content_wrapper
  .show_content_left
    .show_left_info
      .show_info_left
        %ul
          -# カテゴリーのアイコン画像とアクティビティの名称を表示させる。
          %li.show_info_name
            %div{id: 'category_icon'}
            %h1.experience_name
              = @experience.name
          -# アクティビティの評価点とそれに対応した5段階評価を表示させる。
          %li.show_info_score
            .star_rating
              %div{id: "star_rating0", class: 'star_rating_front'}
                ★★★★★
              .star_rating_back
                ★★★★★
            %span{class: 'rating_point exp_score'}
              = @experience.score
            %span.review_count
              （
            = link_to "口コミ#{@experience.reviews.count.to_s(:delimited)}件", experience_reviews_path(@experience.id), class: 'review_count review_link', data:{name: 'review_count'}
            %span.review_count
              ）
          %li.black
          -# アクティビティのエリア・ジャンルを表示させる。
          %li.area_wrapper
            %span.area
              エリア
            = link_to "#{@experience.area.island.name}",'#', id: 'change_link', class: 'link_to'
            = link_to "#{@experience.area.name}",'#', id: 'change_link', class: 'link_to'
          %li.genre_wrapper
            %span.genre
              ジャンル
            = link_to "#{@experience.genre.category.name}","/#{@experience.genre.category.search}", id: 'change_link', class: 'link_to'
            = link_to "#{@experience.genre.name}",'#', id: 'change_link', class: 'link_to'
      .show_info_right
        -# 未ログインユーザーなら'口コミ投稿'等のボタンが表示されない。
        - if user_signed_in?
          %ul
            %li.post_reviews
              = icon('far', 'comment-dots', class: 'fa-flip-horizontal')
              口コミ投稿
              = link_to '', new_experience_review_path(@experience.id), class: 'btn'
            %li.share_act
              = icon('fas', 'share')
              シェアする
              = link_to '','#', class: 'btn'
          %ul.show_info_right_down
            %li.favorite
              -# お気に入りされていればお気に入り登録の解除ができて、まだならお気に入り登録ができる。
              - if @experience.already_favorited?(current_user, @experience)
                = icon("fas", "star")
                = link_to '', experience_favorites_path(@experience.id), method: :delete, class: 'btn favorite_btn'
              - else
                = icon("far", "star")
                = link_to '', experience_favorites_path(@experience.id), method: :post, class: 'btn favorite_btn'
              = @experience.favorites.length.to_s(:delimited)
            %li.have_been_place
              - if @experience.already_histories?(current_user, @experience)
                = icon('fas', 'check')
                = link_to '', experience_histories_path(@experience.id), method: :delete, class: 'btn have_been_btn'
              - else
                = icon('fas', 'shoe-prints',class: 'fa-rotate-270')
                = link_to '', experience_histories_path(@experience.id), method: :post, class: 'btn have_been_btn'
              行った
    .show_left_main
      .show_left_main_tab
        %ul.experience_tabs
          %li.tab
            %span
              概要
            = link_to '', experience_path(@experience.id), class: 'exp_link'
          %li{class: 'tab_2line active_tab'}
            %span
              口コミ
            %br/
            -# 表示しているアクティビティに投稿されている口コミの件数を表示させる。
            %span{class: 'number', data:{name: 'review_count'}}
              = "(#{@experience.reviews.length.to_s(:delimited)}件)"
          %li.tab_2line
            %span
              写真
            %br/
            -# 表示しているアクティビティに投稿されている写真の件数を表示させる。
            %span.number
              = "(#{@images_count}枚)"
          %li.tab
            %span
              地図
          %li.tab
            %span
              周辺情報
      -# 口コミが投稿されている場合の表示
      - if @reviews.exists?
        .review_index_content
          .review_index_title_area
            .review_index_title_icon
            %h1.review_index_title
              = "#{@experience.name}の口コミ一覧"
          .review_index_info
            -# 口コミ全数に対して、何件表示しているかを表示する。
            .review_number
              %span.review_number_part
                = "1 - #{@reviews.length}件"
              %span.review_number_all
                = "（全#{@reviews.length.to_s(:delimited)}件中）"
            -# 口コミの並び替えを行える。
            %ul.review_sort
              %li
                並び替え
              %li{class: 'sort_link active_sort'}
                投稿日
              %li{id: 'sort_score', class: 'sort_link'}
                評価
          %ul.review_list
            -# 口コミの数だけ口コミ表示処理を繰り返す。
            - @reviews.each_with_index do |review, index|
              %li.review_index_main_wrapper
                .review_index_main_area
                  %h2.review_index_title
                    = review.title
                  .review_index_score
                    .star_rating
                      %div{id: "star_rating#{index + 1}", class: 'star_rating_front'}
                        ★★★★★
                      .star_rating_back
                        ★★★★★
                    %span{class: 'rating_point exp_score'}
                      = review.score.to_f
                  .triangle
                    ▲
                  .review_index_comment_area
                    %span.review_index_comment
                      = review.comment
                  .review_index_user_area
                    = user_image_attached?(review.user)
                    .review_index_user_name
                      = "#{review.user.name}さん"
        -# 口コミが投稿されていない場合の表示
      - else
        .not_review_index_content
          .review_index_title_area
            .review_index_title_icon
            %h1.review_index_title
              = "#{@experience.name}の口コミはまだありません"
  .show_content_right
.footer
  = render 'shared/leh_footer'