.header
  = render 'shared/leh_header'
.menu{id: 'link_main', style: 'margin-bottom:0; text-align: left'}
  = link_to 'トップページ', root_path, id: 'change_link', style: 'color: blue'
  %span
    &nbsp;>&nbsp;
  = link_to "#{@experience.genre.category.name}", '/shopping', id: 'change_link', style: 'color: blue'
  %span
    &nbsp;>&nbsp;
  %strong
    = link_to "#{@experience.name}", experience_path(@experience.id), id: 'change_link', style: 'color: blue'
  %span
    &nbsp;>&nbsp;
  %strong
    = "#{@experience.name}の口コミ一覧"
  %span{id: 'category_id', style: 'display:none'}
    = @experience.genre.category.id
.footer
  = render 'shared/leh_footer'