.header
  = render 'shared/leh_header'
.review_new_wrapper
  .review_new_form
    = form_with model: @review, url: experience_reviews_path, class: 'review_form', local: true do |f|
      .review_new_form_name
        .review_new_form_name_title
          .head_icon
          %h1.head_name
            口コミを投稿する
        .review_new_form_name_info
          .info_image
          %ul.info_name
            %li.exp_icon_name
              %div{id: 'category_icon'}
                %span{id: 'category_id', style: 'display:none'}
                  = @experience.genre.category.id
              %span.exp_name
                = @experience.name
            %li.exp_area
              = "エリア ： #{@experience.area.island.name} ＞ #{@experience.area.name}"
            %li.exp_address
              = @experience.address
      .review_new_form_score
        .review_score_title
          %h2.score_title
            総合評価
          %span.score_info
            （星をクリックして評価してください）
          %span.required_item
            必須
        -# 5段階評価をクリックで選択できるフォーム
        .review_score
          - 5.times do |i|
            = f.label :"score_#{i+1}", '☆',id: "star_btn#{i+1}", class: 'review_score_star'
            = f.radio_button :score, "#{i+1}", class: 'review_btn'
      .review_new_form_content
        .review_content_title
          %h2.score_title
            口コミ
          %span.required_item
            必須
        .review_content_main
          .review_title_info
            .title_icon
            = f.label :title, 'タイトル（50文字以内）', class: 'title_name'
          .review_title_main
            = f.text_field :title, maxlength: 50, placeholder: '体験した感想や伝えたいことをまとめましょう', class: 'review_title'
          .review_main_info
            .main_icon
            = f.label :comment, '内容（50～1000文字）', class: 'main_name'
          .review_main
            = f.text_area :comment, maxlength: 1000, class: 'review', placeholder: "ご自身が実際に体験を通して感じた感想をお聞かせください。\nこれから訪れようとしている人へのアドバイスやおすすめ等を記入してください。", class: 'review'
  .review_old_show
.footer
  = render 'shared/leh_footer'