.header
  = render 'shared/leh_header'
.review_new_wrapper
  .review_new_form
    .review_new_form_name
      .review_new_form_name_title
        .head_icon
        %h1.head_name
          口コミを投稿する
      .review_new_form_name_info
        .info_image
        %ul.info_name
          %li.exp_icon_name
            %div{id: 'category_icon'}
              %span{id: 'category_id', style: 'display:none'}
                = @experience.genre.category.id
            %span.exp_name
              = @experience.name
          %li.exp_area
            = "エリア ： #{@experience.area.island.name} ＞ #{@experience.area.name}"
          %li.exp_address
            = @experience.address
    .review_new_form_score
      .review_score_title
        %h2.score_title
          総合評価
        %span.score_info
          （星をクリックして評価してください）
        %span.required_item
          必須
    .review_new_form_content
  .review_old_show
.footer
  = render 'shared/leh_footer'