.signin_up_all
  .signin_up_layout
    .signin_up_wrapper
      = render 'shared/leh_header'
      .signin_up_main_wrapper
        .signin_up_main
          .signin_up_main_content
            %span.register_text 会員登録
            .signin_up_form
              / 入力フォーム
              = form_with model: @user, url: user_registration_path, html: { novalidate: true, class: 'signin_up_user' }, local: true do |f|
                .signin_up_form_input
                  = f.text_field :name, placeholder: '氏名（例：畑中三郎）', autocomplete: 'name', class: 'signin_up_input'
                .signin_up_form_input
                  = f.email_field :email, placeholder: 'メールアドレス', autocomplete: "email", autocorrect: 'off', autocapitalize: 'off', class: 'signin_up_input'
                -# SNS認証での新規登録ならパスワード入力欄を消去し、登録ボタンを押した際にsns_auth: true というparamsを送信する。
                - if @sns_id.present?
                  = hidden_field_tag :sns_auth, true
                - else
                  .signin_up_form_input
                    = f.password_field :password, placeholder: 'パスワード（8～20文字・半角英数字・記号を2種以上）', maxlength: '20', autocomplete: "new-password", class: 'signin_up_input'
                  .signin_up_form_input
                    = f.password_field :password_confirmation, placeholder: '上記と同じパスワードを入力してください', autocomplete: "new-password", class: 'signin_up_input'
                = f.submit "登録する", id: 'btn', class: 'button_cv signin_up_button btn_hover'
              / 入力フォーム
            .social_login
              %span{class: 'social_login_title'}こちらもご利用いただけます
              / SNSアカウントでログインできる
              .social_login_container
                %div{id: 'google_login', class: 'google_login'}
                  = link_to '', user_google_oauth2_omniauth_authorize_path, method: :post, class: 'social_login_link'
                  = icon('fab', 'google')
                #facebook_login
                  = link_to image_tag("f_logo_RGB-Blue_58.png", height: '30px', width: '30px'), user_facebook_omniauth_authorize_path, method: :post, class: 'social_login_link'
              / SNSアカウントでログインできる
            %p.register_policy
              会員登録に伴い、
              %a{href: '#', class: 'register_policy_link link_hover_not_underline'}プライバシーポリシー
              に同意したものとみなされます。
              = render "devise/shared/links"
              / テストユーザーとしてログインするためのフォーム
              .testuser_sign_in_form
                %span.testuser_login_text ※アカウント登録せず、ユーザー機能を試したい方は
                = form_with model: @user, url: user_session_path, local: true, class: 'testuser_login_form' do |f|
                  = f.hidden_field :email, :value => 'test@test.com', id: 'test_user_email'
                  = f.hidden_field :password, :value => 'testuser1', id: 'test_user_password'
                  = f.submit "こちら", class: 'testuser_login_button link_hover_not_underline'
              / テストユーザーとしてログインするためのフォーム
      / フッター
      .signin_up_footer
        %ul.signin_up_footer_list
          %li
            = link_to 'ヘルプ・お問い合わせ', 'mailto:t26.yasunori.yamasaki@gmail.com', class: 'signin_up_footer_link'
        .signin_up_footer_copyright
          Copyright© yasunori_yamasaki All Rights Reserved.
      / フッター
